---
import ArrowIcon from "./ArrowIcon.astro";

const sections = ["about", "experience", "projects"];
---

<ul class="text-gray-700 font-medium" id="navbar">
  {
    sections.map((id) => (
      <li>
        <a
          href={`#${id}`}
          data-id={id}
          class="text-xl uppercase hover:text-cyan-600 transition-all duration-200 font-semibold"
        >
          {/* <span class="arrow hidden">
            <ArrowIcon />
          </span> */}

          {id.charAt(0).toUpperCase() + id.slice(1)}
        </a>
      </li>
    ))
  }
</ul>

<script>
  const sections = ["about", "experience", "projects"];
  const links = document.querySelectorAll<HTMLElement>("#navbar a");

  const setActive = (id: string) => {
    links.forEach((link) => {
      const arrow = link.querySelector<HTMLElement>(".arrow");
      if (link.dataset.id === id) {
        link.classList.add("text-cyan-600");
        link.classList.add("text-2xl!");
        if (arrow) arrow.classList.remove("hidden"); // show arrow
      } else {
        link.classList.remove("text-cyan-600");
        link.classList.remove("text-2xl!");
        if (arrow) arrow.classList.add("hidden"); // hide arrow
      }
    });
  };

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          setActive(entry.target.id);
        }
      });
    },
    {
      rootMargin: "-50% 0px -50% 0px",
    },
  );

  sections.forEach((id) => {
    const el = document.getElementById(id);
    if (el) observer.observe(el);
  });
</script>
