---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Basic Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Primary SEO -->
    <title>Fadel Najmi Adliansyah</title>
    <meta
      name="description"
      content="Fadel Najmi Adliansyah's Personal Portofolio Website."
    />
    <meta name="keywords" content="portofolio, fadel, najmi, adliansyah" />
    <meta name="author" content="Fadel Najmi Adliansyah" />
    <meta name="robots" content="index, follow" />

    <!-- Canonical URL -->
    <link rel="canonical" href="https://fadelna.dev/" />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/favicon.png" />

    <!-- Astro Generator -->
    <meta name="generator" content={Astro.generator} />

    <!-- Fonts / Performance -->
    <link rel="preconnect" href="https://rsms.me" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <!-- Open Graph (Facebook, LinkedIn, etc.) -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Fadel Najmi Adliansyah" />
    <meta
      property="og:description"
      content="Fadel Najmi Adliansyah's Personal Portofolio Website."
    />
    <meta property="og:url" content="https://fadelna.dev/" />
    <meta property="og:image" content="https://fadelna.dev/share-og.png" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Fadel Najmi Adliansyah" />
    <meta
      name="twitter:description"
      content="Fadel Najmi Adliansyah's Personal Portofolio Website."
    />
    <meta name="twitter:image" content="https://fadelna.dev/share-og.png" />
    <meta property="twitter:domain" content="fadelna.dev" />

    <!-- Theme Color (Mobile browsers) -->
    <!-- <meta name="theme-color" content="#0f172a" /> -->
  </head>
  <body class="bg-[#FFF8F3]">
    <div id="page">
      <slot />
    </div>
  </body>
</html>
